
.navbar {
  padding: 20px;
  margin-bottom: 40px;


  .bwm-search {
    height: 50px;
    width: 300px;
  }


  .navbar-brand {
    margin-right: 30px;
    font-size: 30px;
    letter-spacing: 1px;
    color: #F44336;
    font-weight: 500;
  }


  .nav-item {
    font-size: 18px;
  }


  .btn-bwm-search {
    border-color: #F44336;
    color: #F44336;
    height: 50px;
    width: 100px;
    //background: transparent;
  }
  .btn-bwm-search:hover {
    border-color: #F44336;
    color: white;
    background: #F44336;
  }
}
